@model List<ProductView>
@{
    ViewData["Title"] = "Favourites";
}
<style>
	.isClick{
		cursor:pointer;
	}
</style>
<div class="container wrap">
	<div class="main-body">
		<div class="row">
			@if (Model is null)
			{

			}
			else
			{
				@foreach (var productView in Model)
				{
					<div class="col-md-4">
						<div class="card " style="border-radius: 15px;">
							@if (productView.Image != null)
							{
								<div class="isClick" style=" text-align: center;" onclick="location.href='@Url.Action("ProductInfo", "Product", new { id = productView.Id })'">
									<img  src="data:image/jpeg;base64,@(Convert.ToBase64String(productView.Image))"
							 class="img-fluid card-img-top  " />
								</div>
							}
							else
							{
								<img src="https://e7.pngegg.com/pngimages/83/693/png-clipart-united-states-color-blank-map-white-united-states-angle-white.png" class="img-fluid rounded" />
							}
							<div class="card-body">
									<div class="row mb-4">
										<label class="col-sm-4 col-form-label">Название</label>
										<div class="col-sm-8">
											<input readonly type="text" class="form-control" value="@productView.Name">
										</div>
									</div>
									<div class="row mb-4">
										<label class="col-sm-4 col-form-label"> Количество</label>
										<div class="col-sm-8">
											<input readonly type="text" class="form-control" value="@productView.Quantity">
										</div>
									</div>
									<div class="row mb-4">
										<label class="col-sm-4 col-form-label"> Описание</label>
										<div class="col-sm-8">
											<textarea readonly type="text" class="form-control">@productView.Description</textarea>
										</div>
									</div>
									<div class="row mb-4">
										<label class="col-sm-4 col-form-label"> Категория</label>
										<div class="col-sm-8">
											<input type="text" readonly class="form-control" value="@productView.CategoryName">
										</div>
									</div>	
							</div>
							<div class="card-footer text-muted">
								@productView.CreatedAt
							</div>
						</div>
					</div>
				}
			}
		</div>
	</div>
</div>

