@model List<ProductView>
@{
	ViewData["Title"] = "Home Page";
}

<div class="container wrap">
	<div class="main-body">
		<div class="row">
			@if (Model is null)
			{

			}
			else
			{
				@foreach (var productView in Model)
				{
					<div class="col-md-6">
						<div class="card " style="border-radius: 15px;">
							<div class="card-header bg-transparent d-grid gap-2 d-md-flex justify-content-md-end">
								<div class="collapse" id="collapse@(productView.Id)">
									<button class=" btn btn-danger my-2 my-sm-0" style="max-inline-size: min-content;" onclick="location.href='@Url.Action("DeleteProduct", "Product", new { id = productView.Id })'">
										<i class="bi bi-trash-fill"></i>
										Delete
									</button>
									<button class="btn btn-success my-2 my-sm-0" style="max-inline-size: min-content;" onclick="location.href='@Url.Action("EditProduct", "Product", new { id = productView.Id })'">
										<i class="bi bi-pencil-square"></i>
										Edit
									</button>
									<button class="btn btn-light my-2 my-sm-0" style="max-inline-size: min-content;" onclick="location.href='@Url.Action("EditProduct", "Product", new { id = productView.Id })'">
										<i class="bi bi-eye"></i>
										Visible
									</button>
								</div>
								<button class="btn btn-outline-info" data-bs-toggle="collapse" href="#collapse@(productView.Id)" role="button" aria-expanded="false" aria-controls="collapse@(productView.Id)" my-2 my-sm-0">
									<i class="bi bi-pencil-fill"></i>
								</button>
							</div>
							@if (productView.Image != null)
							{
								<div style=" text-align: center;">
									<img  src="data:image/jpeg;base64,@(Convert.ToBase64String(productView.Image))"
							 class="img-fluid card-img-top  " />
								</div>
							}
							else
							{
								<img src="https://e7.pngegg.com/pngimages/83/693/png-clipart-united-states-color-blank-map-white-united-states-angle-white.png" class="img-fluid rounded" />
							}
							<div class="card-body">
								<form method="post" asp-controller="Product" asp-action="AddProduct" enctype="multipart/form-data">
									<div class="row mb-4">
										<label class="col-sm-4 col-form-label">Название</label>
										<div class="col-sm-8">
											<input readonly type="text" class="form-control" value="@productView.Name">
										</div>
									</div>
									<div class="row mb-4">
										<label class="col-sm-4 col-form-label" style=" font-size: smaller;"> Количество</label>
										<div class="col-sm-8">
											<input readonly type="text" class="form-control" value="@productView.Quantity">
										</div>
									</div>
									<div class="row mb-4">
										<label class="col-sm-4 col-form-label"> Описание</label>
										<div class="col-sm-8">
											<textarea readonly type="text" class="form-control">@productView.Description</textarea>
										</div>
									</div>
									<div class="row mb-4">
										<label class="col-sm-4 col-form-label"> Категория</label>
										<div class="col-sm-8">
											<input type="text" readonly class="form-control" value="@productView.CategoryName">
										</div>
									</div>
								</form>
							</div>
							<div class="card-footer text-muted">
								@productView.CreatedAt
							</div>
						</div>
					</div>
				}
			}
		</div>
	</div>
</div>
