@using FoodSharing.Models.Products
@using FoodSharing.Models.Products.ProductCategories
@model CatalogListView
@{
	ViewData["Title"] = "Сatalog";
}
<style>
	.hover-effect:hover {
	box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(143 143 213 / 54%);
	transition: 0.5s;
	}
	.pointer{
		cursor: pointer;
	}    
	.text-style{
		font-family: inherit;
		font-size: x-large;
	}
	.card{
		border-radius: 15px;
	}
	.badge-style{
	 border-radius: 20px;
	 color: black;
	 font-size: smaller;
	 margin-bottom: 0;
	}
	.badge-category{
		background-color: #00ff7f;
	}
	.like::before{
		cursor:pointer;
		color:red;
		content:"\F415";
	}
	.dislike::before{
		cursor:pointer;
		color:black;
		content:"\F417";
	}
	.like:hover::before{
		color:black;
		content:"\F417";
		transition: 0.7s;
	}
	.dislike:hover::before{
		color:red;
		content:"\F415";
		transition: 0.7s;
	}
</style>

<div class="row justify-content-center">
	<div class="col-lg-8 ">
		<div class="card" >
			
			<div class="card-body">
				<form method="post" asp-controller="Product" asp-action="GetCatalog">
					<div class="row g-2">
						<div class="col-xl col-lg-6 flex-grow">
							<div class="input-group">
								<select class="form-select" style="max-width:40%">
									<option>Country</option>
									<option>Russia</option>
									<option>France</option>
									<option>Mexico</option>
								</select>
								<input type="text" placeholder="Type location" class="form-control" name="lorem">
							</div>
						</div>
						<div class="col-4">
						<select asp-for="CategoryId" asp-items="@(new SelectList(Model.ProductCategories, "Id", nameof(ProductCategory.Name)))" class="form-select">
							<option selected>Выберите категорию продукта</option>
						</select>
						</div>

						<div class="col-auto">
							<button class="btn w-100 btn-primary" onclick="location.href='@Url.Action("GetCatalog", "Product")'"> Поиск </button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="container wrap">
	<div class="main-body">
		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3  ">
			@if (Model is null)
			{

			}
			else
			{
				@foreach (var productView in Model.CatalogViews)
				{
					<div class="col-lg-4">
						<div class="card hover-effect" style=" border-radius: 20px;" >
							@if (productView.Image != null)
							{
								<div class="image-container pointer" onclick="location.href='@Url.Action("ProductInfo", "Product", new { id = productView.Id })'">
									<img src="data:image/jpeg;base64,@(Convert.ToBase64String(productView.Image))"
							 class="img-fluid card-img-top mx-auto d-block" />
								</div>
							}
							else
							{
								<img src="https://e7.pngegg.com/pngimages/83/693/png-clipart-united-states-color-blank-map-white-united-states-angle-white.png" class="rounded card-img-top " />
							}
							<div class="card-body ">
									<h5 class="card-title text-style">@productView.Name</h5>
									
									<div class="mb-1">
										<p class="badge bg-warning badge-style"> 
											<i class="fa-solid fa-weight-hanging"></i>	 
											 @productView.Quantity
										</p>
										<p class="badge badge-category badge-style"> 
											<i class="fa-solid @productView.CategoryIcon"></i> 
											 @productView.CategoryName
										</p>
									</div> 	
							</div>
							<div class="card-footer text-muted " style="background-color: white; border-top: white; border-radius: 15px;">
								<i class="bi bi-clock"></i>
								 @productView.Time
								<a class="float-end"  onclick="location.href='@Url.Action("ChangeProductFavourites", "Product", new { ProductId = productView.Id })'">
									@if (Model.UserEmail != productView.Email)
									{
										@if (productView.IsFavourite == false)
                                    {
                                        <i class="bi dislike"></i>
                                    } else
                                    {
                                        <i class="bi like"></i>
                                    }

									}									
								</a>
							</div>
						</div>
					</div>
				}
			}
		</div>
	</div>
</div>
