@using FoodSharing.Models.Products
@using FoodSharing.Models.Products.ProductCategories
@model CatalogListView
@{
	ViewData["Title"] = "Сatalog";
}
<style>
	.hover-effect:hover {
	box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(143 143 213 / 54%);
	transition: 0.5s;
	}
	.pointer{
		cursor: pointer;
	}    
	.badge-style{
	 border-radius: 20px;
	 color: black;
	}
	.text-style{
		font-family: fantasy;
	}
</style>

<div class="row justify-content-center">
	<div class="col-lg-8 ">
		<div class="card" style="border-radius: 15px;" >
			
			<div class="card-body">
				<form method="post" asp-controller="Product" asp-action="GetCatalog">
					<div class="row g-2">
						<div class="col-xl col-lg-6 flex-grow">
							<div class="input-group">
								<select class="form-select" style="max-width:40%">
									<option>Country</option>
									<option>Russia</option>
									<option>France</option>
									<option>Mexico</option>
								</select>
								<input type="text" placeholder="Type location" class="form-control" name="lorem">
							</div>
						</div>
						<div class="col-auto">
						<select asp-for="CategoryId" asp-items="@(new SelectList(Model.ProductCategories, "Id", nameof(ProductCategory.Name)))" class="form-select">
							<option selected>Выберите категорию продукта</option>
						</select>
						</div>

						<div class="col-auto">
							<button class="btn w-100 btn-primary" onclick="location.href='@Url.Action("GetCatalog", "Product")'"> Поиск </button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
</div>
<div class="container wrap">
	<div class="main-body">
		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3  ">
			@if (Model is null)
			{

			}
			else
			{
				@foreach (var catalogView in Model.CatalogViews)
				{
					<div class="col-lg-4">
						<div class="card hover-effect" style=" border-radius: 20px;" >
							@if (catalogView.Image != null)
							{
								<div class="image-container pointer" onclick="location.href='@Url.Action("ProductInfo", "Product", new { id = catalogView.Id })'">
									<img src="data:image/jpeg;base64,@(Convert.ToBase64String(catalogView.Image))"
							 class="img-fluid card-img-top mx-auto d-block" />
								</div>
							}
							else
							{
								<img src="https://e7.pngegg.com/pngimages/83/693/png-clipart-united-states-color-blank-map-white-united-states-angle-white.png" class="rounded card-img-top " />
							}
							<div class="card-body">
									<h5 class="card-title text-style">@catalogView.Name</h5>
									
									<div class="mb-1">
										<p class="badge bg-warning badge-style"> 
											<i class="fa-solid fa-weight-hanging"></i>	 
											 @catalogView.Quantity
										</p>
										<p class="badge bg-danger badge-style"> 
											<i class="fa-solid fa-carrot"></i> 
											 @catalogView.CategoryName
										</p>
									</div> 	
							</div>
							<div class="card-footer text-muted">
								
								@catalogView.CreatedAt
								<a class=" float-end btn btn-light" onclick="location.href='@Url.Action("ChangeProductFavourites", "Product", new { ProductId = catalogView.Id })'">
									@if (Model.UserEmail != null)
									{
										@if (catalogView.IsFavourite == false)
                                    {
                                        <i class="bi bi-heart "></i>
                                    } else
                                    {
                                        <i class="bi bi-heart-fill "></i>
                                    }

									}
									
								</a>
							</div>
						</div>
					</div>
				}
			}
		</div>
	</div>
</div>

<script src="https://kit.fontawesome.com/3f20da78e5.js" crossorigin="anonymous"></script>

